<table class="table">
    <thead>
    <tr>
        <th>#ID</th>
        <th>姓名</th>
        <th>邮箱</th>
        <th>手机号</th>
        <th></th>
    </tr>
    <tr>
        <th colspan="3" style="border-top:0px;">
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </th>
        <th style="border-top:0px;">
            <a href="#/new"><i class="glyphicon glyphicon-plus-sign"></i> 新建联系人</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users | filter:search | orderBy:'name'">
        <td>{{user.$id}}</td>
        <td>{{user.name}}</td>
        <td><a href="mailto:{{user.email}}" >{{user.email}}</a></td>
        <td>{{user.cellphone | keepsafe}}</td>
        <td>
            <a href="#/edit/{{user.$id}}"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="" ng-click="destroy(user.$id)" ><i class="glyphicon glyphicon-remove"></i></a>
        </td>
    </tr>
    </tbody>
</table>
